.header {
    width: 700px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.bottom {   
    position: absolute;
    width: 700px;
    bottom: 0px;
}

.moveButton {
    font-weight: bold;
    font-size: 1em;
    background-color: SaddleBrown;
    color: Moccasin;
}

.right {      
    width: 325px;
    position: absolute;
    right: 20px;
}

ul {          
    list-style-type: none;
}

li {          
    margin-left: -40px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.left {
    width: 325px;
    position: absolute;
    left: 20px;
    background-color: Moccasin;
}

.outer {
    position: absolute; 
    width: 700px;
    height: 650px;
    border: 5px solid gray;
    padding: 10px;
    margin: 10px;
    background-color: LightBlue;
}

.justifyText {
    text-align: justify;
}

.centerText {
    text-align: center;
}

.largeBold {
    font-size: large;
    font-weight: bold;
}

.emphasized {
    color: FireBrick;
}

.congratsButton {
    background-color: cadetblue;
    color: black;
    text-align: center;
    font-size: medium;
    margin: 75px;
}

.contratsPanel {
    background-color: rebeccapurple;
    width: auto;
    height: max-content;
    padding: 10px;
    border: 5px solid black;
    margin: 25px;
}

.contratsText {
    color: lime;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 300px;
    position: relative;
}

.moveText {
    color: lime;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-size: large;
    position: relative;
}

.goalstate {
    width: 250px;
    position: absolute;
    margin-left: 110px;
    background-color: Moccasin;
    text-align: center;
}

.goodbyeText {
    color: crimson;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
}
